@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header .wrapper{  
  width:88.3%;
  display: flex;
  justify-content: space-between; 
  padding: 18px 0;
  font-size: 12px;
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
}

nav{ width: 50%; }

.nav-btn-list{
  display: inline-flex;
  justify-content: center;
  text-transform: capitalize;
  margin-left: 30%;
}

.nav-btn a{ 
  color: #ffffff;
  padding: 5px 0;
}

.nav-btn{ padding: 0 7.45%; }
.nav-btn:first-of-type>a{ border-bottom: 2px solid #ffffff; }

nav+a{
  text-transform: uppercase;
  font-size: 10px;
  border-radius: 3px;
  color: #48d494;
  border: 1px solid #48d494;
  padding: 6px 0.98% 2px;
  margin-right: 2.0%;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.banner .wrapper{ 
  width: 100%;
  background: url("https://via.placeholder.com/1349x681") no-repeat;
  background-size: 100% ;
  padding: 248px 0;
 }

.banner span{
  display: block;
  margin: auto;
  color: #ffffff;
  text-transform: capitalize;
  width: 40%;
  font-weight: bold;
  text-align: center;
  font-size: 80px;
}

.fitness{ background-color: #000000; }
.fitness .wrapper{ width: 58.56%; }

.fitness-list{
  display: flex;
  color: #ffffff;
  padding-top: 53px;
  letter-spacing: 1px;
  padding-bottom: 72px;
}

.fitness-item{ width: 25%; }
.fitness-item:first-of-type img{ margin: 10px 15px 20px 5px; }
.fitness-item img { 
  width: 35px;
  margin: 10px 20px 20px 5px;
}

.classes p,
.fitness-item p{
  color: #666666;
  font-size: 10.5px;
  padding-top:7px;
}

.fitness-item figure { float: left; }
.fitness-item span{ font-size: 28px; }

h3 { 
  color: #48d494; 
  font-size: 35px;
  width: 30%;
  text-transform: capitalize;
  font-weight: bold;
}

.fitness-txt h3{
  width: 70%;
  padding: 20px 5px;
}
.fitness-txt{
  width: 50%;
  display: inline-block;
}

.fitness-txt p{
  width: 80%;
  color: #666666;
  font-size: 11.5px;
  line-height: 1.8;
  margin: 4px ;
  letter-spacing: 0.5px;
}

.fitness-txt+figure{
  background-color: #48d494;
  float: right;
}

.fitness-txt+figure img{ transform: translate(-7px, -7px); }

.fitness-txt a{
  text-transform: uppercase;
  font-size: 8px;
  color: #000000;
  background-color: #48d494;
  border-radius: 3px;
  font-weight: bold;
  padding: 14px 5.4%;
  margin: 28px 5px;
  margin-bottom: 100px;
}

.classes{ background-color: #000000; }

.classes .wrapper{
  width: 100%;
  padding: 100px 0;
}

.classes h3,
.classes p{ margin-left: 21% ; }

.classes h3{
  padding: 15px 0;
  font-size: 32px;
}

.service p,
.trainers p,
.schedul p,
.classes p{
  width: 28%;
  color: #666666;
  font-size: 11.5px;
  line-height: 1.8;
  letter-spacing: 0.5px;
}

.slider{ 
  display: flex;
  flex-wrap: nowrap;
  padding-top: 42px;
}
.slide{width: 25%;}

.slide:nth-child(1),
.slide:nth-child(2),
.slide:nth-child(3),
.slide:nth-child(4){ display: none; }

.slide-controls{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.control::after{
  content: "";
  text-indent: 1px;
  position: absolute;
  top:0;
  border: 3.5px solid #e6e6e6;
  border-radius: 50%;
  left:-0.4vw;
}

.active-control::after{border-color: #48d494;}

.control{
  text-indent: -9999px;
  position: relative;;
  margin: 10px 8px;
}

.schedul{ background: #000000; }
.schedul .wrapper{ width: 58%; }
.service p,
.trainers p,
.schedul p{ 
  width: 50%; 
  margin: 20px 0;
}

.week-list{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 12px;
  text-transform: capitalize;
  letter-spacing: 0.3px;
  padding: 23px 0 30px;
}

.week-list a{
  padding: 9.5px 11.5px;
  color: #ffffff;
  border-radius: 3px;
}

.active-week-day{ background-color: #48d494; }

.table-row ul,
.table-row{
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 11.5px;
  text-transform: capitalize;
}

.table-row ul{
  flex-direction: row;
}

.table-row li{
  padding: 18px 7px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

.weekly-table{padding-bottom: 134px;}
.table-row li:last-of-type{ padding: 18px 0; }
.table-row li:nth-child(1){ width: 24.5% ; }
.table-row li:nth-child(2){ width: 33.1% ; }
.table-row li:nth-child(3){ width: 24.9% ; }
.table-row li:nth-child(4){ width: 17% ; }
.table-row a{
  color: #48d494;
  margin-left: 32%;
}

.trainers{background-color: #000000;}
.trainers .wrapper{width: 58%;}

.trainer-list{ 
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.trainer-list li{ width: 235px; }
.trainer-list figure{
  margin-left: 7px;
  background-color: #48d494;
}

.trainer-list img{ transform: translate(-7px, -7px); }
.trainer-list li:nth-child(2){ transform: translateY(30px); }

.trainer-list h4{ 
  font-size: 20px;
  color: #ffffff;
  text-transform: capitalize;
  padding-top: 27px;
 }

.trainer-list p:nth-of-type(1){ margin-top: 5px; }
.trainer-list p:nth-of-type(2){
   margin-top: 20px;
   width: 100%;
 }

.trainer-list{padding-bottom: 150px;}

.service{ background-color: #000000;}
.service .wrapper{ width: 58%; }
.service-slider{
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
}

.service-slide{ 
  width: 31.6%;
  box-sizing: border-box;
  background-color: #48d494;
  padding: 48px 5.17%;
}
.service-slide:nth-of-type(6),
.service-slide:nth-of-type(4),
.service-slide:nth-of-type(5){ display: none; }
.service-slide img{ width: 35%;}
.service-slide p{ 
  width: 100%; 
  margin: 0 0 10px 0;
  color: #ffffff;
}
.service-slide span{
  color: #ffffff;
  text-transform: capitalize;
  padding: 20px 0;
  letter-spacing: 1px;
  display: inline-block;
}
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  